@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #e5e5e5;
  --accent: #66b3ff;
  --surface: #111114;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-archivo-black);
}

body {
  background: var(--background);
  color: var(--foreground);
}
